<div class="MenuBackground">
        <div class="row">
          <div class="col-xs-12">
            <br>
            <h1 class="card-title text-center">Menu</h1>
            <% MenuCategory.where(available: true).each do |category| %>
              <% menuItems = MenuItem.where(menu_category_id: category.id, available: true) %>
              <% unless menuItems.count == 0 %>

                <div class="table-responsive">
                  <center><h3 class="MenuTitle"><%= category.name.upcase %></h3></center>
                  <table class="table table-shopping">
                    <thead>
                      <tr class="text-center">
                        <th>Serial Number</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Add</th>
                      </tr>
                    </thead>

                    <tbody>
                      <% index = 1 %>
                      <% menuItems.each do |menu| %>

                        <tr class="text-center">
                          <td><%= index %></td>
                              <% index += 1 %>
                          <td><%= menu.name %></td>
                          <td><%= menu.description %></td>
                          <td>₹ <%= menu.price %></td>
                          <td><%= form_with url: "add_toCart/#{menu.id}", method: "get"  do |form| %>
                                <%= form.submit "Add to Cart", class: "btn btn-primary" %>
                              <% end %></td>
                          </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
                <hr/>
              <% end %>
            <% end %>
          </div>
          </div>
        </div>
      </div>
</div>
<hr>
<div class="MenuBackground">
  <% orderitems = OrderItem.where(user_id: @current_user.id) %>
  <center><h1>Your Cart</h1></center>
  <div class="table-responsive">
    <table class="table table-shopping">
      <thead>
        <tr class="text-center">
          <% index = 1 %>
          <th>Serial Number</th>
          <th>Item Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
      <% total = 0 %>
        <% orderitems.each do |order| %>
          <tr class="text-center">
            <td><%= index %></td>
            <% index = index + 1 %>
            <td><%= order.menu_item_name %></td>
            <td>₹ <%= order.menu_item_price %></td>
            <td>
            <div class="btn-group btn-group-sm" style="display: flex;">
              <%= form_with(url: "/menu/#{order.id}", method: "put") do |form| %>
                <%= form.hidden_field :menu_item_quatity, value: -1 %>
                <button class="btn btn-link btn-info"> <i class="material-icons">remove</i> </button>
              <% end %>
              <%= order.menu_item_quatity %>
              <%= form_with(url: "/menu/#{order.id}", method: "put") do |form| %>
                <%= form.hidden_field :menu_item_quatity, value: 1 %>
                <button class="btn btn-link btn-info"> <i class="material-icons">add</i> </button>
              <% end %>
            </div>
            <% total = total + order.menu_item_price * order.menu_item_quatity %>
            </td>
            <td>
              <%= form_with url: "/menu/#{order.id}", method: "delete"  do |form| %>
                <%= form.submit "Remove from Cart", class: "btn btn-primary" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="ShopCart-total">
     <h2>Total: ₹ <%= total %> /-</h2>
     </div>
    <div>
      <h3 class="ShopCart-checkout"><%= link_to "Checkout", orders_path, class: "CheckoutText" %></h3>
    </div>
  </div>
</div><br><br><br><br><br><br><br><br><br><br><br>
