<div class="MenuBackground">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="card-title text-center">All Pending Orders</h1>
      <% index = 1 %>
      <% Order.where(status: "pending").each do |orders| %>
          <div class="table-responsive">
            <table class="table table-shopping">
              <thead>
                <tr class="text-center">
                  <th>Serial Number</th>
                  <th>Order Date</th>
                  <th>Delivery Status</th>
                  <th>Cost</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-center">
                  <td><%= index %></td>
                      <% index += 1 %>
                  <td><%= orders.date.to_s(:long) %></td>
                  <td><%= orders.status.upcase %></td>
                  <td>₹ <%= orders.cost %></td>
                  <td><%= form_with url: "/change_status/#{orders.id}", method: "post"  do |form| %>
                        <%= form.submit "Mark as delivered", class: "btn btn-primary" %>
                      <% end %></td>
                  </tr>
              </tbody>
            </table>
          </div>
      <% end %>
    </div>
    </div>
  </div>
</div>
<br><br><br><br><br><br>
