<div class="MenuBackground">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="card-title text-center">Invoice</h1>
      <% index = 1 %>
      <% Order.where(id: params[:id]).each do |orders| %>
          <div class="table-responsive">
            <table class="table table-shopping">
              <thead>
                <tr class="text-center">
                  <th>Serial Number</th>
                  <th>Order Date</th>
                  <th>Delivery Status</th>
                  <th>Cost</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-center">
                  <td><%= index %></td>
                      <% index += 1 %>
                  <td><%= orders.date.to_s(:long) %></td>
                  <td><%= orders.status.upcase %></td>
                  <td>₹ <%= orders.cost %></td>
                  </tr>
              </tbody>
            </table>
          </div>
      <% end %>
      <h3 class="ShopCart-checkout"><%= link_to "Print Invoice", "", class: "CheckoutText" %></h3>    </div>
    </div>
  </div>
</div>
<br><br><br><br><br><br>
