<!DOCTYPE html>
<html>
  <head>
    <title>Central Perk Cafe</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,500&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fuggles&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('coffee.ico') %>
  </head>

  <body class="container">
  <br><br><br>
	<% if @current_user %>
  <h3 class="PageTitle">Welcome <%= @current_user.first_name %>.
	<%= link_to "Sign Out", destroy_session_path, method: "delete", class: "SignOutLink" %></h3>
	<% end %>
	<% if flash[:error] %>
		<p class="FlashError"><%= flash[:error] %></p>
	<% end %>
  <nav class="navbar navbar-expand-md navbar-light navbar-fixed-top NavbarTop">
  <% if @current_user %>
    <%= link_to "Central Perk", "/dashboard", class: "navbar-brand NavTitle" %>
  <% else %>
    <%= link_to "Central Perk", "/", class: "navbar-brand NavTitle" %>
  <% end %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto navbar-right NavList">
      <li class="nav-item">
      </li>
      <li class="nav-item NavItem">
      </li>
    </ul>
  </div>
</nav>
    <%= yield %>
  <footer class="nav-color navbar-fixed-bottom">
	<div class="container">
		<center>
			<p class="FooterText">Copyright © Cafeteria Management. All Rights Reserved | Contact Us: +91-9870661375</p>
		</center>
	</div>
</footer>
  </body>
</html>
